<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3 d-flex flex-wrapper ">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if (process.env.NODE_ENV !== "production") { %> 
                <!-- If website is not in production, it will show the error stack since it's in development and will show where error happened on the back-end -->
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>